<VirtualHost *:80>
  ServerAdmin webmaster@localhost
  DocumentRoot {{ apache_document_root }}

  <Directory {{ apache_document_root }}>
    Require all granted
  </Directory>

  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>